boto3
numpy
psycopg2-binary==2.8.4
pandas
sqlalchemy
pytest==5.3.2
pytest-helper==0.2.2
pytest-helpers-namespace==2019.1.8
pytest-cov==2.8.1
mypy==0.770
boto3-stubs[essential, secretsmanager, firehose]==1.12.46.0